<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Funcionários</title>
    <link rel="icon" href="/static/img/skala.ico" type="image/x-icon">
    <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header-container">
    <h1>Lista de Funcionários</h1>
    <a href="{{ url_for('index') }}">
    <img src="/static/img/logo-skala.png" alt="Descrição da Imagem">
    </a>
    <div class="search-container">
    <form action="{{ url_for('search') }}" method="GET">
        <input type="text" name="query" placeholder="Pesquisar funcionário">
        <button type="submit">Buscar</button>
    </form>
    </div>
    </div>
    <div class="empresa-container">
    {% for empresa in dados %}
    <h2 class="expand" onclick="toggleDepartamentos(this)"> <button>+</button> {{ empresa.empresa }} </h2>
        <div class="departamentos hidden">
            {% for departamento in empresa.departamentos %}
                <h3 class="expand" onclick="toggleFuncionarios(this)"> <button>+</button> {{ departamento.departamento }} </h3>
                <div class="table-container hidden">
                    <div class="table-row-header">
                        <span>Nome</span>
                        <span>Cargo</span>
                        <span>Email</span>
                        <span>Telefone</span>
                        <span>Celular</span>
                    </div>
                    {% for funcionario in departamento.funcionarios %}
                        <div class="table-row">
                            <span>{{ funcionario['nome_funcionario'] }}</span>
                            <span>{{ funcionario['cargo'] }}</span>
                            <span>{{ funcionario['email'] }}</span>
                            <span>{{ funcionario['telefone'] }}</span>
                            <span>{{ funcionario['celular'] }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    <div class="footer-container">
        <p>Desenvolvido por SKALA.TECH</p>
    </div>
</body>
</html>
